* {
    padding: 0;
    margin: 0;
}

body {
    background: #e5e5e5;
}

.container {
    background: #fff;
    width: 1440px;
    height: 4805px;
    margin: auto;
}

.test {
    font-family: "Tenor Sans";
}

header {
    height: 90px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        margin-left: 120px;
    }

    nav {
        margin-right: 120px;

        button {
            margin: auto 20px;
            font-family: "Libre Franklin", sans-serif;
            border: none;
            background: inherit;
            font-size: 14px;
        }
    }
}

@mixin img-descriprion {
    font-family: "Libre Franklin", sans-serif;
    font-size: 10px;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

@mixin header {
    font-family: "Tenor Sans";
    font-weight: 400;
    text-transform: uppercase;
}

@mixin author {
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-article {
    margin: 60px 120px;
    display: flex;
    gap: 50px;

    .main-article__img {
        display: block;
        width: 721px;
        height: 474px;
    }

    .main-article__img-description {
        @include img-descriprion;
    }

    .main-article__header {
        @include header;
        font-size: 36px;
        margin-bottom: 27px;
        line-height: 42px;
    }

    .main-article__description {
        display: block;
        width: 350px;
        font-size: 16px;
        color: #666666;
        line-height: 24px;
        margin-bottom: 28px;
    }

    .main-article__author {
        @include author;
    }
}

.top-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 120px;
    padding-bottom: 90px;
    margin-bottom: 90px;
    border-bottom: 1px solid #e6e6e6;

    .posts__post {
        .posts__img {
            display: block;
            width: 387px;
            height: 254px;
            margin-bottom: 24px;
        }

        .posts__img-description {
            @include img-descriprion;
        }

        .posts__post-header {
            @include header;
            font-size: 20px;
            margin-bottom: 15px;
            line-height: 24px;
        }

        .posts__post-author {
            @include author;
        }
    }
}

.latest-posts-container {
    display: flex;
    margin: 0 120px;
    margin-bottom: 90px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #e6e6e6;

    .latest-posts__header {
        @include img-descriprion;
        margin-bottom: 30px;
        align-self: flex-start;
    }

    .latest-posts__button {
        @include author;
        font-weight: 400;
        padding: 21px 26px;
        text-transform: uppercase;
        background: #fff;
    }
}

.latest-posts {
    @extend .top-posts;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: none;
    padding: 0;

    .posts__post {
        .posts__img {
            width: 285px;
            height: 187px;
        }
    }
}

.featured-posts-container {
    display: flex;
    margin: 0 120px;
    flex-direction: column;
    padding-bottom: 90px;

    .featured-posts__header {
        @include img-descriprion;
        margin-bottom: 30px;
        align-self: flex-start;
    }
}

.featured-posts {
    @extend .top-posts;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
    padding: 0;

    .posts__post {
        .posts__img {
            width: 590px;
            height: 387px;
        }
    }
}
