* {
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
}

.container {
  background: #fff;
  width: 1440px;
  height: 4805px;
  margin: auto;
}

.test {
  font-family: "Tenor Sans";
}

header {
  height: 90px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  margin-left: 120px;
}
header nav {
  margin-right: 120px;
}
header nav button {
  margin: auto 20px;
  font-family: "Libre Franklin", sans-serif;
  border: none;
  background: inherit;
  font-size: 14px;
}

.main-article {
  margin: 60px 120px;
  display: flex;
  gap: 50px;
}
.main-article .main-article__img {
  display: block;
  width: 721px;
  height: 474px;
}
.main-article .main-article__img-description {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10px;
  color: #999999;
  letter-spacing: 1px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.main-article .main-article__header {
  font-family: "Tenor Sans";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 27px;
  line-height: 42px;
}
.main-article .main-article__description {
  display: block;
  width: 350px;
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  margin-bottom: 28px;
}
.main-article .main-article__author {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
}

.top-posts, .latest-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
  margin: 0 120px;
  padding-bottom: 90px;
  margin-bottom: 90px;
  border-bottom: 1px solid #e6e6e6;
}
.top-posts .posts__post .posts__img, .latest-posts .posts__post .posts__img {
  display: block;
  width: 387px;
  height: 254px;
  margin-bottom: 24px;
}
.top-posts .posts__post .posts__img-description, .latest-posts .posts__post .posts__img-description {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10px;
  color: #999999;
  letter-spacing: 1px;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.top-posts .posts__post .posts__post-header, .latest-posts .posts__post .posts__post-header {
  font-family: "Tenor Sans";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 24px;
}
.top-posts .posts__post .posts__post-author, .latest-posts .posts__post .posts__post-author {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
}

.latest-posts-container {
  display: flex;
  margin: 0 120px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  border-bottom: 1px solid #e6e6e6;
}
.latest-posts-container .latest-posts__header {
  font-family: "Libre Franklin", sans-serif;
  font-size: 10px;
  color: #999999;
  letter-spacing: 1px;
  margin-bottom: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
  align-self: flex-start;
}
.latest-posts-container .latest-posts__button {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 21px 26px;
  text-transform: uppercase;
  background: #fff;
}

.latest-posts {
  grid-template-columns: repeat(4, 1fr);
  border-bottom: none;
  padding: 0;
}
.latest-posts .posts__post .posts__img {
  width: 285px;
  height: 187px;
}/*# sourceMappingURL=style.css.map */